// colors
$backgroundColor = rgba(255,255,255,.8)
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = rgba(255,255,255,.2)
$codeBgColor = #282c34
$arrowBgColor = #ccc
$tagColor = #aaa
$coverColor = rgba(0,0,0,.03)

// layout
$navbarHeight = 3.6rem
$contentWidth = 900px

// style
$borderRadius = 2px
$boxShadow = 0 4px 8px rgba(0, 0, 0, 0.1)

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile
