$wrapper
  max-width $contentWidth
  margin 0 auto
  padding 1.2rem 2.2rem
  box-sizing: border-box
  @media (max-width: $MQNarrow)
    padding 2rem 0
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem 0

